// app global css in SCSS form
.login_form{
  width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  .btn_p{
    display: flex;
    justify-content: end;
    margin: 10px 0;
  }
  .q-card{
    border: 1px solid #e3e0e0;
    padding: 20px !important;
    .q-input{
      margin: 10px 0 !important;
    }
  }
}

.container_task_page{
  overflow-x: auto;
  display: flex;
  justify-content: space-around;
  .task_container{
    width: 100%;
    min-width: 300px;
    margin: 10px;
    border-radius: 12px;
    .draggable{
      border-radius: 12px;
      background-color: #eae8e8;
      min-height: 700px;
      padding: 1px;
    }
    .task_label{
      background-color: white;
      width: 100%;
      padding: 10px;
      border-radius: 12px;
      border: 1px solid #e3e0e0;
      text-align: center;
    }
    .task_item{
      border-radius: 12px;
      border: 1px solid #e3e0e0;
      padding: 5px;
      margin: 5px;
      background-color: white;
    }
  }
}
.element_page{
  height: fit-content;
  .edit_c{
    width: 24px;
    height: 24px;
    border: 1px solid #e3e0e0;
    padding: 1px;
    border-radius: 4px;
  }
  .q_select {
    width: 100px;
    height: 25px;
    min-height: 25px;
    font-size: 10px;
    margin: 0 3px;
    .q-field__control, .q-field__append {
      padding: 0 3px;
      border-radius: 4px !important;
      height: 25px !important;
      min-height: 25px !important;
    }
    .q-field__native,
    .q-placeholder,
    .q-field__label {
      padding: 0;
      min-height: fit-content;
      height: 25px !important;
      font-size: 12px;
    }
  }
}

//defaults
.q-card, .q-btn, .q-field__control {
  border-radius: 12px !important;
  box-shadow: none !important;
}
.q-field--labeled .q-field__native{
  color: #000 !important;
}
.q-btn{
  text-transform: none !important;
}